th {
  font-size: 0.8rem;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}

.modal-dialog {
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal-dialog::-webkit-scrollbar {
  padding: 0;
  width: 5px;
}

.modal-dialog::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.349);
}

.modal .modal-item:first-child {
  margin-top: 0;
}

.modal .modal-item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.modal .modal-item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
